.header{
    height: 40px;
    background-color: #717c8e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.info{
    width: 50%;
    margin: 0 auto;
    height: 230px;
    border: 1px #A3ACB9 solid;
    padding: 10px;
}
.info_item{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    margin-bottom: 20px;
}
