.todoItem{
    display:flex;
    align-items:center;
    margin: 10px 0px;
}
.todoItemInput{

}



.container{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}


.container :global(.so-tag){
    padding: 0px !important;
    width: 30px !important;
}
