.todoItem{
    display:flex;
    align-items:center;
    margin: 10px 0px;
}
.todoItemInput{

}
.todoItemButton{
    visibility: hidden;
}
.todoItem:hover .todoItemButton{
    visibility: initial;
}



.container{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

